*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    text-decoration: none;
    text-transform: none;
    list-style-type: none;

}
.main-nav{
    display: flex;
    height: 60px;
    width: 100%;
    background:#131921;
    justify-content: space-evenly;
    color: white;
}
.logo{
    height: 100%;
    width: 170px;
    background-image: url(assets/logo.png);
    background-size: cover;
    scale: 1;
}
.deliver{
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.icon{
    scale: 1.2;
}
.delivery{
    scale: .7;
    color: #CCCCCC;
    position: relative;
    left: -10px;
    font-weight: 600;
}
.location{
    font-weight: 900;
    position: relative;
    top: -4px;
}
.search-section{
    height: 100%;
    width: 60%;
    border: white 2px solid;
    display: flex;
    align-items: center;

}
#cars{
    height: 60%;
    width: 5%;
}