*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    text-decoration: none;
    text-transform: none;
    list-style-type: none;

}
.main-nav{
    display: flex;
    height: 60px;
    width: 100%;
    background:#131921;
    justify-content: space-evenly;
    color: white;
}
.logo{
    height: 100%;
    width: 170px;
    background-image: url(assets/logo.png);
    background-size: cover;
    scale: 1;
}
.deliver{
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.icon{
    scale: 1.2;
}
.delivery{
    scale: .7;
    color: #CCCCCC;
    position: relative;
    left: -10px;
    font-weight: 600;
}
.location{
    font-weight: 900;
    position: relative;
    top: -4px;
}
.search-section{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;

}
#all{
    height: 80%;
    width: 5%;
    font-weight: 600;
    background: #F3F3F3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: gray 1px solid;
}
.search-bar{
    height: 80%;
    width: 70%;
    font-weight: 600;
}
.search-button{
    height: 84%;
    width: 5%;
    font-weight: 600;
    background-color: #FEBD69;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.account-section{
    height: 100%;
    width: 170px;
    color: #F3F3F3;
    display: flex  ;
    justify-content: center;
    align-items: center;
}
.hello{
    font-size: 15px;
}
.list{
    font-size: 18px;
    font-weight: 700;
}

.order-section{
    height: 100%;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.return{
    font-size: 17px;
}
.order{
    font-size: 18px;
    font-weight: 700;
}

.cart-section{
    height: 100%;
    width: 130px;
    border: white 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    margin-top: 0px;
    height: 60%;
    width: 40px;
    position: relative;
    top: -4px;
    background-image: url(assets/cart-icon.png);
    background-size: cover;
}
.num{
    scale: 1.5;
    position: relative;
    left: 20px;
    color: orange;
    font-weight: 600;
}
.cart-name{
    height: 70%;
    position: relative;
    bottom: -8px;
    font-size: 20px;
    
}
